/*ContenidoArticle*/
body {
  background-color: #f5ebe0;
}
body .homeSection {
  padding: 2rem;
  width: 90%;
  margin-left: 5rem;
  align-items: center;
}
body .homeSection .homeP {
  color: #f5ebe0;
  text-align: left;
  margin-left: 2rem;
  background-color: #303633;
  padding: 1.5%;
  border: 2px solid #303633;
}
body .homeSection .articleImg {
  margin: 5%;
  width: 75%;
  height: 30rem;
  border: 4px solid black;
}
body .ContainerH1 {
  margin: 3rem;
  display: flex;
  flex-direction: row;
}
body .ContainerH1 img {
  width: 5rem;
  height: 3rem;
  margin-left: 70%;
  background-color: white;
}
body .ContainerH1 .H1index {
  font-weight: bolder;
  border: 2px solid black;
}

/*PaginaMusica*/
div .H2 {
  width: 100%;
  text-decoration: underline;
  text-align: center;
}

.musica .P {
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
}
.musica .MusicDiv {
  margin-bottom: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}
.musica .MusicDiv .iframe1 {
  margin-right: 3rem;
  width: 25%;
  height: 15rem;
  border-radius: 10%;
}
.musica .MusicDiv .iframe2 {
  width: 25%;
  height: 15rem;
  margin-left: 3rem;
  border-radius: 10%;
}

.musicaH1:hover {
  color: #2b2d42;
  font-size: 40px;
}

.musicaH1 {
  margin: 2%;
  font-weight: bolder;
  transition: font-size 0.5s;
  text-align: center;
}

/*Artistas*/
.card {
  border-color: #303633;
  margin: 3rem;
  margin-left: 65%;
  align-items: end;
}

h1.artistasH1 {
  margin: 1rem;
  font-weight: bold;
}

.ArtistasMain {
  display: grid;
  grid-template-areas: "item1 item2" "item1 item3";
  border: solid #303633;
  margin: 3rem;
}
.ArtistasMain p.artistas {
  grid-area: item2 item3;
  text-align: center;
  margin: 0%;
}
.ArtistasMain .fotoartista {
  grid-area: item1;
  width: 25rem;
  height: 25rem;
  margin: 5px;
}

/*PaginaBlog*/
.ContenedorH1 {
  margin-top: 1rem;
  margin-left: 1rem;
}
.ContenedorH1 .h1 {
  font-weight: bolder;
}

.BlogSection {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #303633;
}
.BlogSection .blogP1 {
  margin-top: 1.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  opacity: none;
  color: #f5ebe0;
}
.BlogSection .blogP {
  padding: 0.5rem;
  margin: 1rem;
  color: #f5ebe0;
}
.BlogSection .blogImg {
  margin-left: 5%;
  width: 15rem;
  height: 25rem;
  opacity: none;
  border: 1px solid black;
  border-radius: 5%;
}
.BlogSection .BlogSection hr {
  color: #f5ebe0;
}

.divMapa .mapa {
  margin: 5rem;
  border-radius: 15%;
  width: 500px;
  height: 480px;
}
.divMapa .mapa2 {
  width: 500px;
  height: 480px;
  margin: 5rem;
  border-radius: 15%;
}

.container nav img {
  width: 3.5rem;
  height: 3rem;
}
.container .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  padding: 1rem;
  margin-inline: auto;
  justify-content: space-around;
  width: 100%;
}

/*PagFotos*/
.carruseles {
  display: grid;
  grid-template-areas: "item1 item2";
  align-items: center;
}
.carruseles .contenedorcarrucel {
  grid-area: "item1";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 60%;
  height: 30rem;
}
.carruseles .contenedorcarrucel #carouselExampleIndicators {
  width: 100%;
  height: 100%;
}
.carruseles .contenedorcarrucel #carouselExampleIndicators .carousel-inner {
  max-width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 10px;
}
.carruseles .contenedorcarrucel #carouselExampleIndicators .carousel-inner carousel-item {
  max-width: 100%;
  height: 100%;
  align-items: center;
}
.carruseles .contenedorcarrucel2 {
  grid-area: "item2";
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 60%;
  height: 30rem;
}
.carruseles .contenedorcarrucel2 #carouselExampleIndicators {
  width: 100%;
  height: 90%;
  padding: 10px;
}
.carruseles .contenedorcarrucel2 #carouselExampleIndicators .carousel-inner {
  max-width: 100%;
  height: 90%;
  align-items: center;
  margin-left: 10px;
}
.carruseles .contenedorcarrucel2 #carouselExampleIndicators .carousel-inner carousel-item {
  max-width: 90%;
  height: 90%;
  align-items: center;
}

div {
  display: flex;
  flex-direction: row;
}
div .FotosH1 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  border: 2px solid black;
  width: 80%;
}
div .imgH1 {
  margin-left: 65%;
  width: 8rem;
  height: 4rem;
}

/*Footer*/
footer {
  margin-left: 3rem;
  display: grid;
  grid-template-areas: "item10 item50 item30";
  width: 90%;
}
footer ul {
  margin-left: 1rem;
  grid-area: item30;
  text-align: right;
  list-style: none;
}
footer ul .textoFooter {
  font-weight: bold;
  color: black;
}
footer ul .enlaceFooter {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
footer .social-icon img {
  grid-area: item10;
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

@media (max-width: 480px) {
  footer {
    width: 90%;
    margin: 0;
  }
  /*Fotos*/
  div .imgH1 {
    display: none;
  }
  div .FotosH1 {
    text-align: center;
    color: #5e548e;
    font-weight: bolder;
  }
  .contenedorcarrucel {
    margin: 0%;
    width: 100%;
  }
  .contenedorcarrucel .carousel-inner {
    height: 100%;
  }
  /*Blog*/
  .ContenedorH1 {
    width: 100%;
    height: 20%;
  }
  .ContenedorH1 .h1 {
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }
  .BlogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7F557D;
  }
  .BlogSection .blogP1 {
    text-align: center;
    margin: 2rem;
    font-weight: 500;
  }
  .BlogSection .blogImg {
    border-radius: 10%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .divMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divMapa .mapa {
    margin: 2rem;
    width: 12rem;
    height: 12rem;
  }
  /*Artista*/
  .ArtistasMain h1 {
    text-align: center;
  }
  .ArtistasMain .fotoartista {
    width: 15rem;
    height: 15rem;
    margin: 5px;
  }
  .card {
    display: none;
  }
  /*Musica*/
  .musicaH1 {
    color: #5e548e;
    font-weight: bolder;
    text-align: center;
  }
  .musica {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
  }
  .musica div {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 1.5rem;
  }
  .musica div P {
    background-color: #7F557D;
    border: 2px solid black;
    border-radius: 15%;
    width: 80%;
  }
  .musica .MusicDiv {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .musica .MusicDiv .iframe1 {
    width: 90%;
    margin: 0%;
    margin-bottom: 5px;
  }
  .musica .MusicDiv .iframe2 {
    margin-top: 5px;
    margin: 0%;
    width: 90%;
  }
  /*Index*/
  body {
    width: 90%;
  }
  body .ContainerH1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .ContainerH1 img {
    display: none;
  }
  body .ContainerH1 .H1index {
    font-weight: bolder;
    text-align: center;
    border: 2px solid black;
  }
  body .homeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  body .homeSection .aticleImg {
    width: 55%;
    height: 1.5rem;
  }
  body .homeSection .homeP {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
