    /*PaginaBlog*/
    .ContenedorH1{
        margin-top: 1rem;
        margin-left: 1rem;
            .h1{
                font-weight: bolder;
            }
    }
    .BlogSection{

        margin: 2rem;
        display: flex;
        flex-direction: column;
        background-color: #303633; 

                .blogP1{
                    margin-top: 1.5%;
                    margin-left: 1.5%;
                    margin-right: 1.5%;
                    opacity: none;
                    color: #f5ebe0;
                }
                .blogP{
                    padding: 0.5rem;
                    margin: 1rem;
                    color: #f5ebe0;
                }
                .blogImg{
                    margin-left: 5%;
                    width: 15rem;
                    height: 25rem;
                    opacity: none;
                    border: 1px solid black;
                    border-radius: 5%;
                }
                .BlogSection hr{
                    color: #f5ebe0;
                }
      }
      .divMapa{
        .mapa{
            margin: 5rem;
            border-radius: 15%;
            width: 500px;
            height: 480px;
        }
        .mapa2{
            width: 500px;
            height: 480px;
            margin: 5rem;
            border-radius: 15%;
        }
      }
